node{
    stage('Check Out') {
       git branch: 'feature/test1', credentialsId: 'f3b66526-172b-44bd-acdd-1d63496ce887', url: 'git@github.com:rosered11/demo.git'
   }
    stage('Unit Test') {
        sh(script: "dotnet test test/", returnStdout: true)
    }
    stage('Build Package') {
        sh(script: "dotnet publish -c Release -o publish -r win-x64 src/", returnStdout: true)
    }
    stage('Into Develop') {
         git branch: 'develop', credentialsId: 'f3b66526-172b-44bd-acdd-1d63496ce887', url: 'git@github.com:rosered11/demo.git'
         
         sh 'git config --global user.email "jenkines@example.com"'
        sh 'git config --global user.name "jenkins"'
        sh 'git merge origin/feature/test1'
       sh 'git push origin HEAD:develop'

   }
   
}